//== XF Footer style, used on page template

footer.experiencefragment {
    background-color: #1e1e1e;
    color: rgba(255, 255, 255, 0.8);

    padding: .5em 1em;
    border-top: 1px solid $color-foreground;

    .cmp-separator__horizontal-rule {
        margin: 0;
        border: 0;
    }
}