.cmp-articledetail {
    position: relative;

    .img {
        width: 100%;
    }

    .title {
        position: absolute;
        top: 50px;
        font-size: 62px;
        color: #fff;
        left: 190px;
    }

    .description {
        position: absolute;
        top: 150px;
        font-size: 28px;
        color: #fff;
        left: 190px;
    }

    .date {
        position: absolute;
        top: 200px;
        font-size: 18px;
        color: #fff;
        left: 190px;
    }

    .back-btn {
        position: absolute;
        top: 240px;
        font-size: 18px;
        left: 190px;

        display: inline-block;
        border-color: #1e5fbe;
        background-color: #326ec8;
        color: #fff;
        text-shadow: 0 -0.0625rem 0 #1e5fbe;
        padding: 0.6rem;
        text-decoration: none;
        width: 4rem;
        text-align: center;
    }
}