.cmp-articledetail {
    position: relative;

    .img {
        width: 100%;
    }

    .title {
        position: absolute;
        top: 50px;
        font-size: 62px;
        color: #fff;
        left: 100px;
    }

    .description {
        position: absolute;
        top: 150px;
        font-size: 28px;
        color: #fff;
        left: 100px;
    }

    .date {
        position: absolute;
        top: 200px;
        font-size: 18px;
        color: #fff;
        left: 100px;
    }
}