.cmp-articledetail {
    position: relative;

    .detail-container {
        position: absolute;
        top: 50px;
        left: 190px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 70%;
    }

    .img {
        width: 100%;
        height: 559px;
        object-fit: cover;
    }

    .title {
        font-size: 62px;
        color: #fff;
        margin-bottom: 25px;
    }

    .description {
        font-size: 28px;
        color: #fff;
    }

    .date {
        font-size: 18px;
        color: #fff;
    }

    .back-btn {
        font-size: 18px;
        display: inline-block;
        border-color: #1e5fbe;
        background-color: #326ec8;
        color: #fff;
        text-shadow: 0 -0.0625rem 0 #1e5fbe;
        padding: 0.6rem;
        text-decoration: none;
        width: 4rem;
        text-align: center;
    }
}