.cmp-navigation {}

.cmp-navigation__group {
  margin: 0;
  padding: 16px;
  padding-left: 36px;
  list-style: none;
}

.cmp-navigation__item {}

.cmp-navigation__item--active {}

// .cmp-navigation__item--level-0 {}
.cmp-navigation__item--level-0:hover>.cmp-navigation__group {}

.cmp-navigation__item-link {}