<style>
    .tablerow {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
    }
</style>

<div class="${wcmmode.edit ? 'tablerow' : ''}" data-sly-element="${wcmmode.edit ? 'div' : 'tr'}"
    data-sly-use.model="com.digitran.core.models.Row"
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-list="${model.values}">
    <td class="${wcmmode.edit ? 'col' : ''}" data-sly-element="${wcmmode.edit ? 'span' : 'td'}">
        ${item @context ='html'}
    </td>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !model.values}"></sly>