<sly data-sly-use.model="com.digitran.core.models.RowModel" data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
<div data-sly-test.editMode="${wcmmode.edit}"
    data-sly-test.notEmpty="${model.values.size != 0}">
    <table >
        <tr >
            <td  data-sly-repeat="${model.values}">
                ${item @context ='html'}
            </td>
            <td>
            	${properties.searchkey}
            </td>
            <td>
            	${properties.filterkey}
            </td>
        </tr>
    </table>
</div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !notEmpty}"></sly>