<style>
  .nav-horizontal ul {
    display: flex;
    gap: 10px;
  }

  .nav-vertical ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>

<nav data-sly-use.navigation="com.digitran.core.models.CustomNavigation"
  data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-use.groupTemplate="group.html"
  data-sly-call="${groupTemplate.group @ items=navigation.customNavItems}"
  data-sly-test.hasContent="${navigation.customNavItems.size > 0}" id="${navigation.id}" class="cmp-navigation"
  itemscope itemtype="http://schema.org/SiteNavigationElement"
  aria-label="${navigation.accessibilityLabel}">
</nav>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent, classAppend='cmp-navigation'}"></sly>