<style>
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        padding: 20px;
        table-layout: fixed;

    }

    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }

    .search-inp{
    width: 100%;
    margin: 20px 0;
}
</style>

<div class="cmp-table" data-sly-use.model="com.digitran.core.models.Table"
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-test.notEmpty="${model.columns.size != 0}">
    <div data-sly-test.editMode="${wcmmode.edit}">
        <table>
            <thead>
                <th data-sly-repeat="${model.columns}">${item.columnname}</th>
                <th>Search Key</th>
                <th>Filter Key</th>
            </thead>
        </table>
        <div data-sly-resource="${ resource @ resourceType='wcm/foundation/components/responsivegrid'}">
        </div>
    </div>
    <div data-sly-test="${!editMode}">
        <input type="text" class="search-inp"/>
        <table>
            <thead data-sly-list="${model.columns}">
                <th>${item.columnname}</th>
            </thead>
         <tbody class="table-body" data-api="${resource.path}"></tbody>
        </table>

         <sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
   			 <sly data-sly-call="${clientlib.js @ categories='digitran.table'}"/>
		</sly>
    </div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !notEmpty}"></sly>