.cq-RichText-editable {
    background: white;
}

div.rte-ui coral-buttongroup {
    visibility: visible !important;
}

.cq-Dialog[fullscreen] .cq-RichText .cq-RichText-editable {
    height: 10rem !important;
}